body{ background-color:#FFCFE7
    
    ; font-size: medium;  }


    table { color:#EB2588;border-style: ridge;}

    body{border-style:solid; :black;}

    image{ align: center; border-style: dotted;
        
        color: #FC0983;}

    #copy { background-color: bisque; color: burlywood;
         align-self: start;}

         .read { background-color: chocolate; align-self: center;}
        